.App {
   font-family: "Teko", sans-serif;
   font-size: large;
   text-align: center;
   height: 100vh;
   width: 100vw;
   background-color: #22272a;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.icon .container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: white;
}

@media screen and (max-width: 499px) {
   .icon .container {
      width: calc(100vw / 2.5 + 0.7vw);
      height: calc(100vw / 2.5 + 0.7vw);
   }

   .icon .img {
      border-radius: 50%;
      width: calc(100vw / 2.5);
      height: calc(100vw / 2.5);
   }
   .link a {
      margin-left: calc(100vw / 50);
   }
}
@media screen and (min-width: 500px) {
   .icon .container {
      width: calc(100vw / 4.5 + 0.7vw);
      height: calc(100vw / 4.5 + 0.7vw);
   }

   .icon .img {
      border-radius: 50%;
      width: calc(100vw / 4.5);
      height: calc(100vw / 4.5);
   }
   .link a {
      margin-left: calc(100vw / 80);
   }
}

.switchIcon {
   margin-bottom: calc(100vh / 30);
}

.techstack {
		margin: 0px 2px 0px 2px;
}

.title {
	color: white;
	border-width: 1px;
	border-bottom: solid;
	border-color: white;
}

.techStackList > .container {
	margin: 0px 0px 20px 0px;
}

.link {
   margin-bottom: calc(100vh / 80);
}
.link .container {
   display: flex;
   flex-direction: row;
}
.link a {
   color: white;
   text-decoration: none;
}

.copyright .text {
   color: white;
}

i[class^='devicon'] {
		font-size: 20px;
}

