.App {
   text-align: center;
   height: 100vh;
   width: 100vw;
   background-color: #22272a;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon .container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: white;
}

@media screen and (max-width: 499px) {
   .icon .container {
      width: calc(100vw / 2.5 + 0.7vw);
      height: calc(100vw / 2.5 + 0.7vw);
   }

   .icon .img {
      border-radius: 50%;
      width: calc(100vw / 2.5);
      height: calc(100vw / 2.5);
   }
}
@media screen and (min-width: 500px) {
   .icon .container {
      width: calc(100vw / 4.5 + 0.7vw);
      height: calc(100vw / 4.5 + 0.7vw);
   }

   .icon .img {
      border-radius: 50%;
      width: calc(100vw / 4.5);
      height: calc(100vw / 4.5);
   }
}
