.App {
   text-align: center;
   height: 100vh;
   width: 100vw;
   background-color: #22272a;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon .container {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: white;
   width: calc(100vw / 4 + 0.7vw);
   height: calc(100vw / 4 + 0.7vw);
}

.icon .img {
   border-radius: 50%;
   width: calc(100vw / 4);
   height: calc(100vw / 4);
}
